.resent-project-wrapper {
    padding: 10px;
    height: 100%;
}
.resent-project-header {
    padding: 5px;
    height: 60%;
    background-color: rgb(230, 230, 230);
    font-weight: 700;
}
.resent-project-header h4 {
    color: #ffce08!important;
    text-align: center;
    margin-top: 20px;
}

.resent-project-footer {
    background-color: rgb(255, 255, 255);
    min-height: 40%;
    padding: 5px;
}
.resent-project-footer h4 {
    color: #ffce08!important;
}

.tp-tab-title {
    color: #ffce08!important;
    text-align: center!important;
}
.gdlr-core-pbf-wrapper {
    padding: 0px 0px 30px 0px!important;
}
.client-wrapper {
    border-bottom: 3px solid black;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 2px black;
    padding: 30px;

}
.slogan_sigma {
    display: flex!important;
    flex-direction: column;
    width: 100%!important;
}
.first-make {
    width: 75vw!important;
}
.business {
    align-self: center;
    
}
.slogan_sigma .lastbutton-easier {
    align-self: flex-end;
    margin-right: 50px;
}
